div, span {
    width : 80px;
    height : 80px;
    margin : 20px;
}

/* block */
div {
    background: red;
}

/* inline */

span {
    background: blue;
}

div {
    background: red;
    display: inline-block;
}

span {
    background: blue;
    display: block
}